@font-face {
  font-family: "Got Heroin";
  src: url("/fonts/GotHeroin.woff") format("woff"),
       url("/fonts/Got_Heroin.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Moms Typewriter";
  src: url("fonts/MomsTypewriter.woff") format("woff"),
       url("fonts/MomsTypewriter.ttf") format("truetype");
  font-display: swap;
}

body.home {
    background: white; 
    color: black;
    overflow: hidden;
    height: 100%;
}

h1 {
    margin-top: 0;
    font-family: "Got Heroin", sans-serif;
    font-weight: normal;
    text-align: center; 
    font-size: 8rem;
}

h2 {
    margin-top: 0;
    font-family: "Moms Typewriter", sans-serif;
    font-weight: normal;
    text-align: center; 
    font-size: 20px;
}

nav a {
    display: block;
    position: relative;
    margin: 0 auto 10px;
    top: 20px;
    width: fit-content; 
    margin: left; 
    color: black; 
    text-decoration: none; 
    font-family: "Moms Typewriter", monospace;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    
}
nav a:hover {
    color: grey;
}

img {
    position: fixed;
    bottom: -40px;
    right: -50px; 
}

/* projects.html */
.wip {
  font-family: "Moms Typewriter", monospace;
  font-size: 20px;
  text-align: center;
}

.wip::after {
  content: ".";
  display: inline-block;
  width: 20px;       
  text-align: left;
  animation: dots 2.0s steps(1, end) infinite;
}

@keyframes dots {
  0%   { content: ""; }
  20%  { content: "."; }
  40%  { content: ".."; }
  60%  { content: "..."; }
}

.back {
  display: inline-block;
  font-family: "Moms Typewriter", monospace;
  font-size: 20px;
  
  color: black;
  text-decoration: none;    
  background: none;
  border: none;
}

.back:hover {
  color: grey;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top h1,
.top h2 {
  margin: 0;
}

.top .wip {
  margin: 0;
  width: auto;
  text-align: center;
}

.back {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* about.html */

.about {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    width: 90%;          
    text-align: left;
    line-height: 1.6;
}

/* blog.html */

.posts {
    list-style: none;
    padding: 0;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;  
    gap: 10px;
    font-family: "Moms Typewriter", monospace;
    width: fit-content;

}

.post a{
  color: black;
  text-decoration: none; 
  list-style: none;   
}

.post a:hover { 
    color: grey; 
}

.date {
    margin-right: 8px;
}


/* mobile stuff */
@media (max-width: 600px) {
    body.home h1 {
        font-size: 25vw !important;
        white-space: nowrap;
        
    }

    nav {
        margin-top: 10vh;   
    }

    nav a {
        font-size: 30px;
    }

    img {
        width: 55vw !important;      
    }
}